* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Single Day", sans-serif;
}

@media screen and (max-width: 1367px) {
  .container {
    display: flex;
    margin: 0 auto;
  }

  /* left side */

  .left-side {
    color: white;
    padding: 20px 30px;
    height: 100dvh;
    width: 35%;
    background-color: #2f80ed;
  }

  .right-side {
    height: 100vh;
    width: 65%;
    padding: 20px 30px;
  }

  a {
    text-decoration: none;
  }
  .ucsm {
    display: flex;
    align-items: center;
    color: white;
  }

  .logo {
    width: 70px;
    height: 70px;
  }

  .cimage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    padding: 10px;
  }

  .about_myeik {
    margin: 25px auto;
  }

  .content {
    margin: 10px auto;
    text-align: justify;
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    gap: 15px;
  }

  .contact a {
    color: inherit;
    font-size: 14px;
    font-weight: bold;
  }

  .contact a:hover {
    text-decoration: underline;
    color: cyan;
  }

  .contact a:checked {
    color: pink;
  }

  h4 {
    font-size: 20px;
    font-weight: bold;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .icon_justify {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  /* right side */

  h3 {
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .arrow {
    width: 20px;
    height: 20px;
    display: flex;
  }

  .text {
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .textbox1,
  .textbox2 {
    width: 100%;
  }

  .alltextbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px auto;
  }

  .dropdown {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 10px auto;
  }

  select {
    padding: 8px;
    font-size: 14px;
    text-align: center;
  }

  textarea {
    width: 100%;
    padding: 3%;
  }

  .buttongroup {
    gap: 1rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
  }

  .change,
  .segment {
    color: whitesmoke;
    background-color: #2f80ed;
  }

  .change,
  .clear,
  .segment {
    font-size: 0.9rem;
    width: 80px;
    height: 40px;
    cursor: pointer;
  }

  .developed {
    font-family: "Single Day", sans-serif;
    font-size: 16px;
    margin-top: auto;
    font-style: italic;
    display: flex;
    justify-content: right;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  /* left side */

  .left-side {
    width: 100%;
    height: 100%;
  }

  .alltextbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .arrow {
    display: none;
  }

  /* right side */
  .right-side {
    width: 100%;
    height: 100%;
  }

  h3 {
    font-size: 2rem;
  }

  .developed {
    margin-top: 15px;
  }
}

/* make responsive */
